#ignore IntelliJ project files
*.iml
*.iws
*.ipr
.idea/*
.idea
.sonar/
#ignore project utility files
.pair
.story
.comment
id_rsa
#ignore build outputs, buildr test report and db folder
out/
Sonar/
reports/
target/
stub.java
#ignore vi undo and swap files
*.swp
*.un~
*.swo
#ignore class file
*.class
.private_key
*.jnilib
