<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="prototypeBean" class="springSession.springBeans.PrototypeBean" scope="prototype"/>

    <bean id="singletonBeanAware" class="springSession.springBeans.SingletonBeanApplicationContextAware"/>

    <bean id="singletonBean" class="springSession.springBeans.SingletonBeanMethodLookUp">
        <lookup-method name="createPrototypeBean" bean="prototypeBean"/>
    </bean>

    <bean id="beanMethodReplacement" class="springSession.springBeans.SingletonBeanMethodReplacement">
        <replaced-method name="createPrototypeBean" replacer="createPrototypeBean"/>
    </bean>

    <bean id="createPrototypeBean" class="springSession.springBeans.ReplacementCreatePrototypeBean"/>

    <bean id="singletonBeanWithFactory" class="springSession.springBeans.SingletonBeanWithFactory"/>
</beans>